@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
header {
  background-color: #262626;
  color: #fff;
}

header .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5vh;
}

header .top-header-titles {
  font-weight: bold;
}

header i {
  color: #097f99;
  padding: 0 10px;
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: auto;
}

nav {
  border-bottom: 1px solid #097f99;
  overflow: hidden;
  z-index: 5;
}

nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin: 10px 0;
}

nav .nav-bar .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .nav-bar .logo h1 {
  font-size: 30px;
}

nav .nav-bar .logo #last-initial {
  color: #097f99;
}

nav .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav .nav-bar li {
  padding: 10px 0px 10px 25px;
}

nav .nav-bar a {
  color: #262626;
}

nav .nav-bar a:hover {
  color: #097f99;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fdfdfd;
}

#home {
  background-image: url("../img/home.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;
}

#home::before {
  content: "";
  display: block;
  background-color: #262626;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#home * {
  z-index: 1;
  position: relative;
}

#home h1 {
  font-size: 45px;
  font-weight: lighter;
  width: 30vw;
  color: #fff;
}

#home .container {
  height: 100%;
  padding: 30vh 20vw;
}

#home .container .button {
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #097f99;
  border-radius: 5px;
  font-weight: bold;
}

#home .container .button:hover {
  background: #252525;
  color: #fff;
}

#about {
  line-height: 1.6rem;
  height: 100vh;
  width: 100%;
  padding-top: 15vh;
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .container .about-me-content {
  width: 30vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .container .about-me-content h1 {
  font-size: 45px;
}

#about .container .about-me-content p {
  font-size: 1.2em;
}

#about img {
  border: 1px solid #097f99;
  border-radius: 50%;
  height: 350px;
  width: 350px;
}

#skills {
  background-color: #262626;
  line-height: 1.6rem;
  height: 100vh;
  width: 100%;
  padding-top: 15vh;
  color: #fff;
  text-align: center;
}

#skills .skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding-top: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skills-grid i {
  padding-right: 5vw;
  font-size: 15vh;
}

#skills .skills-grid h3 {
  padding-right: 5vw;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.sections {
  width: 100%;
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-padding: 0;
  scroll-behavior: smooth;
}

.sections::-webkit-scrollbar {
  display: none;
}

.sections section {
  width: 100%;
  height: 100%;
  border-top: 1px solid #097f99;
  scroll-snap-align: start;
}

footer {
  position: relative;
}

@media screen and (max-width: 700px) {
  header {
    visibility: hidden;
    height: 0;
  }
  #home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
  }
  #home .container {
    padding: 25vh 35vw;
  }
  #about {
    padding-top: 20vh;
  }
  #about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #about .container .about-me-content {
    width: 60vw;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #about .container .about-me-content h1 {
    font-size: 25px;
  }
  #about .container .about-me-content p {
    font-size: 1em;
  }
  #about img {
    height: 150px;
    width: 150px;
  }
  #skills {
    padding-top: 30vh;
  }
  #skills .skills-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #skills .skills-grid h3 {
    visibility: hidden;
  }
}
