@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
header {
  background-color: #262626;
  color: #fff;
}

header .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5vh;
}

header .top-header-titles {
  font-weight: bold;
}

header i {
  color: #0fadd1;
  padding: 0 5px;
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: auto;
}

nav {
  border-bottom: 1px solid #0fadd1;
  overflow: hidden;
  z-index: 5;
}

nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin: 10px 0;
}

nav .nav-bar .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .nav-bar .logo h1 {
  font-size: 30px;
}

nav .nav-bar .logo #last-initial {
  color: #0fadd1;
}

nav .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav .nav-bar li {
  padding: 10px 0px 10px 15px;
}

nav .nav-bar a {
  color: #262626;
}

nav .nav-bar a:hover {
  color: #0fadd1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fdfdfd;
}

#home {
  margin: 100px;
  height: 500px;
}

#home h1 {
  font-size: 45px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .top-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
    margin-bottom: 50px;
    padding: 10px 0;
  }
}
