#about {
  line-height: 1.6rem;
  height: 100vh;
  width: 100%;
  padding-top: 25vh;

  .container {
    display: flex;
    align-items: stretch;
    justify-content: left;
    .about-me-content {
      width: 30vw;
      flex-wrap: wrap;
      text-align: left;
      text-justify: distribute;
      h1 {
        padding: 2vh 0 5vh 0;
        font-size: 45px;
        color: $secondary-color;
      }
      p {
        padding-bottom: 5vh;
        font-size: 1.4em;
      }
    }
  }

  img {
    border: 1px solid $secondary-color;
    border-radius: 50%;
    margin-left: 5vw;
    height: 300px;
    width: 300px;
  }
}
