@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

$background-color: #fff;
$font-type: "Nunito", sans-serif;
$primary-color: hsl(0, 0%, 15%);
$secondary-color: #097f99;
