.drawer {
  position: fixed;
  //visibility: hidden;
  right: 35px;
  top: 25px;
  cursor: pointer;

  .drawer-line {
    width: 25px;
    height: 3px;
    margin: 0 0 4px 0;
    background-color: $primary-color;
  }

  .show {
    &:nth-child(1) {
      transform: translate3d(42px, -62px, -135px);
    }
  }
}
