#home {
  background-image: url("../img/home.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;

  &::before {
    content: "";
    display: block;
    background-color: $primary-color;
    opacity: 0.85;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  * {
    z-index: 1;
    position: relative;
  }

  h1 {
    font-size: 45px;
    font-weight: lighter;
    width: 30vw;
    color: #fff;
  }

  .container {
    height: 100%;
    padding-top: 30vh;

    .button {
      color: #fff;
      margin-top: 20px;
      margin-left: -10px;
      padding: 10px;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      font-weight: bold;

      &:hover {
        background: darken($color: $primary-color, $amount: 0.5);
        color: #fff;
      }
    }
    .social-links {
      margin: 3vh 0 1vh 0;
      font-size: 1.5rem;

      i {
        color: #fff;
        padding-right: 1vw;
      }
    }
  }
}
