#home {
  background-image: url("../img/home.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;

  &::before {
    content: "";
    display: block;
    background-color: $primary-color;
    opacity: 0.85;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  * {
    z-index: 1;
    position: relative;
  }

  h1 {
    font-size: 45px;
    font-weight: lighter;
    width: 30vw;
    color: #fff;
  }
  h2,
  h4 {
    font-weight: lighter;
  }
  .container {
    height: 100%;
    padding-top: 30vh;

    .email {
      padding-top: 1.5vh;
    }

    .social-links {
      margin: 3vh 0 2.5vh 0;
      font-size: 1.5rem;

      i {
        color: #fff;
        padding-right: 1vw;
      }
    }
  }

  .resume-btn {
    background-color: $primary-color;
    color: white;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;

    &:hover {
      background-color: #fff;
      color: $primary-color;
    }
  }
}
