#home {
  background-image: url("../img/home.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 30vh 20vw;
  overflow: hidden;
  color: #fff;

  &::before {
    content: "";
    display: block;
    background-color: $primary-color;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  * {
    z-index: 1;
    position: relative;
  }

  h1 {
    font-size: 45px;
    width: 30vw;
    color: #fff;
  }

  .container {
    height: 100vh;

    .button {
      color: $secondary-color;
      background-color: rgba($color: #fff, $alpha: 0.7);
      margin-top: 20px;
      padding: 10px;
      border: 1px solid $secondary-color;
      border-radius: 10px;
      font-weight: bold;

      &:hover {
        background: darken($color: $secondary-color, $amount: 0.9);
        color: #fff;
      }
    }
  }
}
