@media screen and (max-width: 500px) {
  header {
    visibility: hidden;
    height: 0;
  }

  #home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
      padding: 25vh 20vw;
    }
  }
  #about {
    padding-top: 20vh;

    .container {
      flex-direction: column-reverse;
      .about-me-content {
        width: 60vw;
        flex-wrap: nowrap;
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 1em;
        }
      }
    }
    img {
      height: 150px;
      width: 150px;
    }
  }
  #skills {
    padding-top: 30vh;
    .skills-grid {
      grid-template-columns: repeat(2, 1fr);

      h3 {
        visibility: hidden;
      }
    }
  }
  #work {
    padding-top: 30vh;
    .work-grid {
      grid-template-columns: repeat(2, 1fr);

      i {
        font-size: 10vh;
      }
    }
  }
  .drawer {
    visibility: visible;
    z-index: 20;
  }

  .nav-links {
    // visibility: hidden;
    overflow: hidden;
    position: relative;
    bottom: -9.1vh;
    left: 100vw;

    &.show {
      visibility: visible;
      position: absolute;
      margin: 33px 0 0 0;
      z-index: 5;
      transform: translateX(-100%);
      transition: all 1.4s ease-in;
      color: rgb(2, 2, 2);
      background-color: #000;
      width: 40vw;
      height: 100vh;
      opacity: 0.9;
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        color: #fff;
        font-size: 40px;
      }
    }
  }
  .logo {
    display: flex;
  }

  #copyright {
    visibility: hidden;
    position: fixed;
  }
}
