@media screen and (max-width: 700px) {
  header {
    visibility: hidden;
    height: 0;
  }

  #home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;

    .container {
      padding: 25vh 35vw;
    }
  }
  #about {
    .container {
      flex-direction: column;
    }
  }
  #skills {
    padding-top: 30vh;
    .skills-grid {
      grid-template-columns: repeat(2, 1fr);

      h3 {
        visibility: hidden;
      }
    }
  }
}
