@media screen and (max-width: 568px) {
  header {
    visibility: hidden;
    height: 0;
  }

  #home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //height: 80vh;

    .container {
      padding: 25vh 35vw;
    }
  }
  #about {
    padding-top: 20vh;

    .container {
      flex-direction: column-reverse;
      .about-me-content {
        width: 60vw;
        flex-wrap: nowrap;
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 1em;
        }
      }
    }
    img {
      height: 150px;
      width: 150px;
    }
  }
  #skills {
    padding-top: 30vh;
    .skills-grid {
      grid-template-columns: repeat(2, 1fr);

      h3 {
        visibility: hidden;
      }
    }
  }
  .drawer {
    visibility: visible;
    z-index: 20;
  }
  .nav-links {
    visibility: hidden;

    &.show {
      visibility: visible;
      position: fixed;
      margin: 33px 0 0 0;
      left: 0;
      z-index: 5;
      transform: translate3d(10, -100%, 0);
      transition: all 1s ease-in;
    }

    .links {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #000;
      width: 100vw;
      height: 100vh;
      opacity: 0.9;

      a {
        color: #fff;
        font-size: 50px;
      }
    }
  }
  .logo {
    display: flex;
  }

  #copyright {
    visibility: hidden;
    position: absolute;
  }
}
