@media screen and (max-width: 568px) {
  header {
    visibility: hidden;
    height: 0;
  }

  #home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //height: 80vh;

    .container {
      padding: 25vh 35vw;
    }
  }
  #about {
    padding-top: 20vh;

    .container {
      flex-direction: column-reverse;
      .about-me-content {
        width: 60vw;
        flex-wrap: nowrap;
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 1em;
        }
      }
    }
    img {
      height: 150px;
      width: 150px;
    }
  }
  #skills {
    padding-top: 30vh;
    .skills-grid {
      grid-template-columns: repeat(2, 1fr);

      h3 {
        visibility: hidden;
      }
    }
  }
  .links {
    visibility: hidden;
  }
}
