header {
  background-color: $primary-color;
  color: #fff;

  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;

    &-titles {
      font-weight: bold;
    }
  }

  i {
    color: $secondary-color;
    padding: 0 10px;
  }
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: auto;
}

nav {
  border-bottom: 1px solid $secondary-color;

  overflow: hidden;
  z-index: 5;

  .nav-bar {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    margin: 10px 0;

    .logo {
      align-self: center;

      h1 {
        font-size: 30px;
      }

      #last-initial {
        color: $secondary-color;
      }
    }

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 10px 0px 10px 25px;
    }

    a {
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: darken($color: #fff, $amount: 0.9);
}
