#work {
  height: 100vh;
  width: 100%;
  padding-top: 15vh;

  h1 {
    color: $secondary-color;
    font-size: 35px;
  }

  .work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: stretch;

    i {
      font-size: 15vh;
      margin: 5vh 0;
      padding: 1vh 1vw;
      border: 1px solid $primary-color;
      border-radius: 20%;
    }

    a {
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
