@import "config";
@import "top";
@import "home";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  //  background-color: $background-color;
  font-family: $font-type;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

@import "mobile";
