@import "config";
@import "top";
@import "home";
@import "about";
@import "skills";
@import "work";
@import "contact";
@import "footer";
@import "drawer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-type;
  &::-webkit-scrollbar {
    display: none;
  }
  top: 0;
  bottom: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.sections {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-padding: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  scroll-behavior: smooth;

  section {
    width: 100%;
    height: 100%;
    border-top: 1px solid $secondary-color;
    scroll-snap-align: start;
  }
}

.container {
  max-width: 1100px;
  padding: 0 10vw;
  margin: 0 auto;
  overflow: auto;
}
@import "mobile";
