@import "config";
@import "top";
@import "home";
@import "about";
@import "skills";
@import "work";
@import "contact";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-type;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.sections {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-padding: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  scroll-behavior: smooth;

  section {
    width: 100%;
    height: 100%;
    border-top: 1px solid $secondary-color;
    scroll-snap-align: start;
  }
}

footer {
  position: relative;
}
@import "mobile";
